.container{
    width: 100%;
    height: auto;
}
.top{
    width: 100%;
    height: 14vh;
    background-color:#FC8A06 ;
    border-radius: 5px;
}
.share{
    width: 90%;
    height: 7vh;
    margin: 3.5vh 5%;
}
.basket{
    width: 100%;
    height: auto;
    background-color: #F9F9F9;
    border: 1px solid #00000033;
    margin-top: 3vh;
}
.heading{
    width: 100%;
    height: 14vh;
    background-color: #028643;
    display: flex;

}
.logo{
    height: 60px;
    width: 60px;
    margin: auto 2vw;
}
.heading p{
    color: white;
    font-size: 2vw;
    font-weight: 600;
}
.cardContainer{
    display: flex;
    flex-direction: column;
}
.card{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #00000033;
    border-top: none;
    display: flex;
    justify-content: space-around;
}
.quantity{
font-size: 1.5vw;
font-weight: 700;
background-color: #FC8A06;
color: white;
height: 45px;
padding: 0 15px;
padding-top: 7px;
border-radius: 60px;
margin: 3vh 0;
}
.mid{
height: auto;
width: 55%;
margin: auto 0;
line-height: 1.25;
}
.price{
    color: #028643;
    font-weight: 600;
    font-size: 1.1vw;
    margin: 0;
}
.name{
font-size: 1vw;
font-weight: 600;
margin: 0%;
margin-top: 1vh;
}
.remove{
height: 30px;
width: 30px;
margin: auto 0;
cursor: pointer;
}
.remove:active{
    transform: scale(1.2);
}

.cal{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #00000033;
}
.line{
    margin: 2vh 1vw;
    display: flex;
    justify-content: space-between;
}
.cost{
    font-weight: 600;
    font-size: 1.1vw;
}
.val{
    font-size: 1.2vw;
}

.box{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #00000033;
}
.total{
display: flex;
justify-content: space-between;
margin: 2vh 1vw;
padding: 2vh 1vw;
background-color: #FC8A06;
border-radius: 10px;
color: white;
}
.title{
font-size: 1.1vw;
font-weight: 600;
}
.value{
font-size: 1.5vw;
font-weight: 700;
margin: 0;
line-height: 1;

}
.coupon{
display: flex;
justify-content: space-between;
margin: 3.5vh 1vw;
padding: 1vh 1vw;
border: 1px solid #00000033;
border-radius: 30px;
}
.coupon span{
    font-size: 1vw;
    line-height: 1;
    margin: auto 0;
}
.coupon img{
    width: 30px;
    height: 30px;
    margin: auto 1vw;
}

.bottom{
    width: 100%;
    height: auto;
}
.con2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 2vh 0;
    
}
.con2 img{
    width: 2.5vw;
    height: 5vh;
    margin: 1vh 3.25vw;
}
.con2 p{
    margin: 0;
    text-align: center;
    font-weight: 600;
    line-height: 1;
}
.con2 span{
    font-size: 1vw;
    margin: 0 1.1vw;
}
.delivery{
    width: 43%;
    height: 15vh;
    border: 1px solid #00000033;
    border-radius: 10px;
}
.collect{
    width: 43%;
    height: 15vh;
    border-left: 1px solid #00000033;
}
.checkout{
    width: 94%;
    height: 10vh;
    margin: 2vh auto;
    background-color: #FFB1B1;
    border-radius: 10px;
    color: white;
    display: flex;
}
.active{
    background-color: #028643;
    cursor: pointer;
}

.checkout img{
    width: 40px;
    height: 40px;
    margin: 2.2vh 2vh;
}
.checkout span{
    font-size: 1.5vw;
    font-weight: 600;
    margin: 3vh 2vw;
}

