.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.853);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
    width: 70vw;
    height: 40vh;
    background-color: white;
}
.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none; /* Remove focus outline */
  text-align: center;
}

.modalBody {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

.formContainer {
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .bigInput{
    flex: 1;
    height: 10vh;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .inputFull {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submitBtn {
    background-color: #FC8A06;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 15%;
    font-size: 16px;
    float: right;
  }
  
  .submitBtn:hover {
    background-color: #e07904;
  }

